<section class="green-section">
<h2>View All Products By Category to Check Latest Quantity</h2>
<div class="card">
    <label for="">Filter by Category</label>
    <select name="filter" id="">
        <option value="">Television </option>
    </select>
<table class="table table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Manufacturer</th>
            <th>Category</th>
            <th>Minimum Limit</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngIf="products != null: else other">
            <tr *ngFor="let product of products;">
                <td>{{products.productid}}</td>
                <td>{{products.title}}</td>
                <td>{{products.manufacturer}}</td>
                <td>{{products.category}}</td>
                <td>{{products.minLimit}}</td>
                <td><button class="btn btn-primary">View Stock</button></td>
                <td><button class="btn btn-primary">Update Stock</button></td>
                <td><button class="btn btn-primary">Delete Stock</button></td>
            </tr>        
        </ng-container>
    </tbody>
</table>

<div>
    <table class="table">
            <thead class="thead-dark">Ticket Details</thead>
            <tbody>            
            <tr>
                <td>ID</td>
                <td>id</td>
            </tr>
            <tr>
                <td>Title</td>
                <td>title</td>
            </tr>
            <tr>
                <td>Manufacturer</td>
                <td>manufacturer</td>
            </tr>
            <tr>
                <td>Category</td>
                <td>category</td>
            </tr>
            <tr>
                <td>Minimum Limit</td>
                <td>minimum Limit</td>
            </tr>
            <tr>
                <td>Actual Qty</td>
                <td>actual qty</td>
            </tr>
            
        </tbody>
    </table>
</div>

</div>
</section>
