<p>view-all-products works!</p>
<h2>View All Products By Category to Check Latest Quantity</h2>
<table class="table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Manufacturer</th>
            <th>Category</th>
            <th>Minimum Limit</th>
            <th>Actual Qty</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>43" LED TV</td>
            <td>Samsung</td>
            <td>Television</td>
            <td>20</td>
            <td>50</td>
            <td><button>Update Stock</button></td>
        </tr>
        <tr>
            <td>1</td>
            <td>43" LED TV</td>
            <td>Samsung</td>
            <td>Television</td>
            <td>20</td>
            <td>23</td>
            <td><button>Update Stock</button></td>
        </tr>
    </tbody>
</table>
