<section class="green-section">
<h2>Add New Stock Detail of Product</h2>
<div class="card">
<form action="">
        <label for="">Date</label>
        <input type="date"><br />
    
    <label for="">Vendor</label><input type="text"><br />
    <label for="">Batch</label><input type="text"><br />
    <label for="">Invoice</label><input type="text"><br />
    <label for="">Qty</label><input type="number"><br />
    <label for="">Transaction</label>
    <br>
    <input type="radio" name="" id="">
    <label for="">In</label>

    <input type="radio" name="" id="">
    <label for="">Out</label>
    <br>
    <button type="submit">Submit</button>
</form>
</div>
</section>