<section class="green-section">
<h2>Add New Stock Detail of Product</h2>
<div class="card">
<form action="">
    <div class="form-group">
        <label for="date" id="spacing">Date</label>
        <input id="date" type="date" name="date">
    </div>
    <div class="form-group">
        <label for="Vendor" id="spacing">Vendor</label><input id="vendor" type="text" name="vendor">
    </div>
    <div class="form-group">
        <label for="batch" id="spacing">Batch</label><input id="batch" type="text" name="batch">
    </div>
    <div class="form-group">
        <label for="invoice" id="spacing">Invoice</label><input id="invoice" type="text" name="invoice">
    </div>
    <div class="form-group">
        <label for="quantity" id="spacing">Qty</label><input id="quantity" type="number" name="quantity">
    </div>
    
    <div class="form-group">
        <label for="transaction" id="spacing">Transaction </label>
        <input type="radio" name="transaction" id="transaction">
        <label for="">In</label>

        <input type="radio" name="transaction" id="transaction">
        <label for="">Out</label>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</section>