* {
    font-family: 'Quicksand', sans-serif;
}
.navbar-brand {
    color: pink;
}
section { 
    height: 100vh; 
    /*display: flex;
    justify-content: center;
    align-items: center; */
    padding: 100px;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center; 
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

table {
    border: 1px solid black;
}

form {
    border-radius: 30px;
}

.card {
    padding: 50px;
}