<app-navbar></app-navbar>
<!--<app-home></app-home>-->
<app-add-product></app-add-product>
<app-add-stock-detail></app-add-stock-detail>
<app-view-all-products></app-view-all-products>
<app-view-stocks-below-threshold></app-view-stocks-below-threshold>
<!--
<div class="container">
  <app-navbar></app-navbar>
  <router-outlet></router-outlet>  
</div>-->
<!-- <div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Details Page</a>
    <div class="navbar-nav mr-auto">
   

    </div>
  </nav>

  <div class="container mt-3">
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
  </div>
</div> -->
